<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Riviera17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CDED011DF6D638004CD85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDED181DF6D638004CD85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDED231DF6D638004CD85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
